.App {
  text-align: center;

  padding-top: 20px; 
}

/* src/App.css */
body {
    background-color: #548e5b; /* Warna abu-abu gelap */
    color: #f8f9fa; /* Warna teks putih */
}

.App {
    text-align: center;
    padding-top: 20px;
}